
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121418;
}

.react-json-view {
  overflow-wrap: anywhere;
}

